<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/button.css">
</head>
<body>
<div class="buttons">
    <button class="btn-hover color-1">BUTTON</button>
    <button class="btn-hover color-2">BUTTON</button>
    <button class="btn-hover color-purple">purple</button>
    <button class="btn-hover color-peach">BUTTON</button>
    <button class="btn-hover color-green">green</button>
    <button class="btn-hover color-6">BUTTON</button>
    <button class="btn-hover color-7">BUTTON</button>
    <button class="btn-hover color-black">black</button>
    <button class="btn-hover color-blue">blue</button>
    <button class="btn-hover color-10">BUTTON</button>
    <button class="btn-hover color-red">red</button>
    <button class="btn-hover color-yellow">yellow</button>
    <button class="btn-hover my_button small color-yellow">BUTTON</button>
    <button class="btn-hover my_button xsmall color-yellow">BUTTON</button>
</div>
</body>
</html>